<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YeniEmlak</title>
    <link rel="stylesheet" type="text/css" href="~/css/IndexStyleSheet.css">
    <link rel="icon" type="image/png" href="~/images/if_home_house_lock_password_2992201.png">
    @RenderSection("styles", false)
    <environment include="Development">
    </environment>
    <environment exclude="Development">

    </environment>
</head>
<body>
    <div class="header">
        <div class="head">
            <div class="logo" />
        </div>
        <ul class="dropdown">
            <li class="dropdown-top"><a asp-area="" asp-controller="Home" asp-action="Index">Ana Səhifə </a></li>
            <li class="dropdown-top"><a asp-area="" asp-controller="Home" asp-action="AddHome">Elan Ver</a></li>
            <li class="dropdown-top"><a asp-area="" asp-controller="Account" asp-action="Login">Daxil ol</a></li>
        </ul>

    </div>

    <div class="content">
        @RenderBody()
    </div>


    <footer>
        <p>Sayt administrasiyası verilən elanlara görə məsuliyyət daşımır.</p>
        <p>Tel: (+994 55) 261 21 26; E-mail: info@yeniemlak.az</p>
        <p>&copy; 2018.  ! Bütün hüquqlar qorunur.</p>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>

