<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/images/if_home_house_lock_password_2992201.png">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
