@model IEnumerable<YeniEmlak.Models.ViewModel.UserViewModel>
<table class="table table-striped" style="margin-top:60px;">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody >
        @{
            int i = 1;
            @foreach (var user in Model)
            {
                <tr id="@user.Id">
                    <th scope="row">@i</th>
                    <td>@user.Id</td>
                    <td>@user.FullName</td>
                    <td>
                        <button type="submit" id="delete-user" class="btn btn">Delete</button>
                        @if (!user.SubmittedByAdmin)
                        {

                            <button type="submit" id="confirm-user" class="btn btn-danger">
                                Confirm
                            </button>
                        }

                    </td>
                </tr>
                i++;
            }
        }

    </tbody>
</table>