.add-btn{
    background-color:red;
}

.delete-btn {
    background-color: green;
}

.tableContent {
    width: 1005px;
    margin: 0 auto;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}