@model YeniEmlak.Models.ViewModel.ChangePasswordViewModel;
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
@section styles{
    <link href="~/css/login.css" rel="stylesheet" asp-append-version="true">
}
    <table class="tableContent" style="margin-top:60px;">
        <tbody>
            <tr>
                <td valign="top" style="padding: 0px 10px 0px 10px; min-height:2000px;">
                    <table align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="inner_table">
                                    <form asp-action="ChangePassword" asp-controller="AdminUser" method="post" class="form">
                                        <div class="text-danger" asp-validation-summary="All"></div>

                                        <h1>Şifrəni yeniləyin.</h1>

                                        <div class="form-group">
                                            <span>Yeni şifrə :</span>
                                            <input type="text" asp-for="NewPassword">
                                            <div><span asp-validation-for="NewPassword" class="text-danger"></span></div>
                                        </div>
                                        <div class="form-group">
                                            <span>Təkrar yeni şifrə :</span>
                                            <input type="text" asp-for="ReNewPassword">
                                            <div><span asp-validation-for="ReNewPassword" class="text-danger"></span></div>
                                        </div>

                                        <div align="center">
                                            <button type="submit">Təsdiqlə</button>
                                        </div>

                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </tr>
        </tbody>
    </table>