@model IEnumerable<YeniEmlak.ViewModel.HomeViewModel>
@{
    ViewData["Title"] = "HomeList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section styles{

    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />

}

<div id="homes">
    @{Html.RenderPartial("Homes", Model);}
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $("#confirm-home").click(function () {
                var id = $(this).closest("tr").attr('id');
                $.ajax({
                    type: "GET",
                    url: "/Admin/SubmitHome?id=" + id,
                    success: function (html) {
                        $(this).hide();
                        $("#homes").html(html);
                    }
                });
            });

            $("#delete-home").click(function () {
                var id = $(this).closest("tr").attr('id');
                $.ajax({
                    type: "DELETE",
                    url: "/Admin/DeleteHome?id=" + id,
                    success: function (html) {
                        $(this).closest("tr").remove();
                        $("#homes").html(html);
                    }
                });

            });
        });
    </script>

}