@model IEnumerable<YeniEmlak.Models.ViewModel.UserViewModel>
@{
    ViewData["Title"] = "İstifadəçilər";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section styles{

    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />

}
<div class="text-danger" asp-validation-summary="ModelOnly"></div>

<div id="users">

    @{Html.RenderPartial("Users", Model);}
</div>

     



@section Scripts{ 

    <script>
        $(document).ready(function () {
            $("#confirm-user").click(function () {
                var id = $(this).closest("tr").attr('id');
                    $.ajax({
                        type: "GET",
                        url: "/Admin/SubmitUser?id=" + id,
                        success: function (html) {
                            $(this).hide();
                            $("#users").html(html);
                        }
                    });
            });

            $("#delete-user").click(function () {
                var id = $(this).closest("tr").attr('id');
                    $.ajax({
                        type: "DELETE",
                        url: "/Admin/DeleteUser?id=" + id,
                        success: function (html) {
                            $(this).closest("tr").remove();
                            $("#users").html(html);
                        }
                    });
               
            });
        });
    </script>

}