@model IEnumerable<YeniEmlak.Models.ViewModel.UserViewModel>
@{
    ViewData["Title"] = "İstifadəçilər";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section styles{

    <link rel="stylesheet" type="text/css" href="~/css/userList.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />

}
<div class="text-danger" asp-validation-summary="ModelOnly"></div>


<table class="table table-striped" style="margin-top:60px;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Ad/Soyad</th>
            <th scope="col">Əməliyyat</th>
        </tr>
    </thead>
    <tbody>
     
        
        @{
            int i = 1;
            @foreach (var user in Model)
            {
                <tr id="@user.Id">
                    <th scope="row">@i</th>
                    <td>@user.Id</td>
                    <td>@user.FullName</td>
                    <td>
                        <button type="submit" class="delete-btn">Delete</button>
                        <button type="submit" disabled=@(user.SubmittedByAdmin ? "disabled") class="add-btn">
                            Confirm
                        </button>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>








